/* cores padrões */
:root {
  --color-grey: rgb(128, 128, 128);
  --color-white: rgb(255, 255, 255);
  --color-shadow: 0px 0px 20px rgb(49, 25, 156);
  --color-onyx: hsl(207, 8%, 21%);
  --color-black: hsla(0, 0%, 0%, 0.06);
  --color-blue_ryb: hsl(220, 100%, 50%);

  /* transições */
  --color-cubic: cubic-bezier(0.45, 0.85, 0.5, 1);

  /* tipográfia padrões de tamanho */
  --fs-1: 1.563rem;
  --fs-2: 1.5rem;
  --fs-3: 1.25rem;
  --fs-4: 1.078rem;
  --fs-5: 1rem;
  --fs-6: 0.938rem;
  --fs-7: 0.875rem;
  --fs-8: 0.844rem;
  --fs-9: 0.813rem;
  --fs-10: 0.769rem;

  --fw-500: 500;
  --fw-600: 600;

  /* Radius - Propriedade de arredondamento das bordas  */
  --radius-6: 6px;
}
