/* presets da página */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rye', Courier, monospace;
}

/* Formatação do corpo da página */
body {
    width: 100%;
    height: 100vh;
    
    background-image: url(../img/background4.jpg);

    background-repeat: no-repeat;

    background-size: cover;
}

/* formatação cabeçalho header */
header {
    width: 100%;
    height: 70px;

    box-shadow: 0px 5px 20px rgb(49, 25, 156);
    
    padding: 10px;

    display: flex;

    align-items: center;

    flex-wrap: wrap;

    justify-content: space-between;
}

/* formatação da ul listas menu */
.menu {
    list-style: none;

    display: flex;

    flex-wrap: wrap;
}

.menu li a {
    color: #fff;

    display: block;

    text-decoration: none;
    
    font-size: 0.8rem;

    padding: 10px 20px 10px 20px;

    margin-left: 10px;

    border-radius: 10px;
}

/* formatação do menu lista, formatação do link a:hover (passando o mouse sob o link) */
.menu li a:hover {
    color: #fff;

    display: block;
    
    text-decoration: none;
    
    margin-left: 10px;
    
    background-color: #032950;
}


/* formatação logo canto superior esquerdo */
.logo {
    width: 50px;
    height: 50px;

    border-radius: 10px;
    
    background-color: #CCC;

    box-shadow: 0px 5px 20px rgb(49, 25, 156);

    display: flex;

    align-items: center;

    justify-content: center;
}

.logo a {
    display: flex;

    align-items: center;

    justify-content: center;
}

.img_logo {
    width: 35px;
    height: 45px;

    padding: 0;

    border-radius: 10px;

    box-shadow: 0px 5px 20px rgb(49, 25, 156);

}

h1 {
  color: #fff;

  text-align: center;

  font-size: 3.0rem;

  text-shadow: 2px 2px 5px rgb(49, 25, 156);

  margin: 20px 0px 20px 0;  
}

.container{
    max-width: 1200px;
    
    margin: 0 auto;

    flex-wrap: wrap;

    display: flex;

    align-items: center;

    justify-content: center;
}

.container div {
    flex: 1 1 300px;

    flex-wrap: wrap;

}

img {
    width: 550px;
    height: 350px;

    padding: 10px;

    border-radius: 10px;

    margin: 10px 0px 10px 0px;

    box-shadow: 0px 0px 50px rgb(49, 25, 156);
}

p {
    color: #fff;
    
    font-size: 1.9rem;

    font-weight: bold;

    text-align: center;

    margin-top: 10px;

    text-shadow: 2px 2px 10px #000;
}

.video {
    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: center;
}

.video div {
    margin: 20px 0px 20px 0px;
    
}

iframe {
    border-radius: 10px;

    padding: 10px;

    margin: 0px 0px 20px 0px;
    
    box-shadow: 0px 0px 50px rgb(49, 25, 156);
}