/* Variaveis de cores root  */
@import "./style_variaveis.css";

/* Estilos de reuso */
@import "./style_reuso.css";

/* presets da página */
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rye", Courier, monospace;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
img,
span,
data,
time,
input,
button,
span.icon {
  display: block;
}

button {
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
}

:focus-visible {
  outline: 2px solid var(--color-grey);
  outline-offset: 1px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: hsl(0, 0%, 95%);
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 70%);
}

html {
  scroll-behavior: smooth;
}

/* Formatação do corpo da página */
body {
  height: 100vh;
  padding-block-start: 72px;

  background-image: url(../img/background4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background: var(--color-white);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  padding-block: 20px;
  overflow: hidden;
  transition: 0.3s var(--color-cubic);
  z-index: 1;
}

.header.active {
  height: 370px;
  transition: 0.5s var(--color-cubic);
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-toggle-btn .icon {
  font-size: 28px;
}

.navbar {
  position: absolute;
  top: 72px;
  left: 0;
  width: 100%;
  background: var(--color-white);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s var(--color-cubic);
}

.header.active .navbar {
  opacity: 1;
  visibility: visible;
}

.navbar-list {
  padding-inline: 15px;
  margin-bottom: 15px;
}

.navbar-link {
  color: var(--color-onyx);
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
  border-radius: var(--radius-6);
}

.navbar-link:is(:hover, :focus) {
  background: var(--color-black);
}

.navbar-link.active {
  color: var(--color-blue_ryb);
}

/* formatação cabeçalho header */
/* header {
  width: 100%;
  height: 70px;

  box-shadow: 0px 5px 20px rgb(49, 25, 156);

  padding: 10px;

  display: flex;

  align-items: center;

  flex-wrap: wrap;

  justify-content: space-between;
} */

/* formatação da ul listas menu */
/* .menu {
  list-style: none;

  display: flex;

  flex-wrap: wrap;
} */

/* .menu li a {
  color: #fff;

  display: block;

  text-decoration: none;

  font-size: 0.8rem;

  padding: 10px 20px 10px 20px;

  margin-left: 10px;

  border-radius: 10px;
} */

/* formatação do menu lista, formatação do link a:hover (passando o mouse sob o link) */
/* .menu li a:hover {
  color: #fff;

  display: block;

  text-decoration: none;

  margin-left: 10px;

  background-color: #032950;
} */

/* formatação logo canto superior esquerdo */
.logo {
  width: 50px;
  height: 50px;

  border-radius: 10px;

  background-color: #ccc;

  box-shadow: var(--color-shadow);

  display: flex;

  align-items: center;

  justify-content: center;
}

.img_logo {
  width: 35px;
  height: 45px;
}

h1 {
  color: #fff;

  text-align: center;

  font-size: 3rem;

  text-shadow: 0px 0px 50px rgb(49, 25, 156);

  margin: 20px 0px 20px 0px;
}

/* .container {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;

  flex-wrap: wrap;
} */

.container div {
  flex: 1 1 350px; /* usando três propriedades flex ao mesmo tempo:(1) flex-grow, (1)flex-shrink, (300px)flex-basis*/

  margin: 10px;
}

img {
  width: 100%;

  border-radius: 10px;

  box-shadow: 0px 0px 50px rgb(49, 25, 156);
}
